body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

text {
    font-family:'Work Sans';;
}

.my-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
}