body {
    font-family: 'Proxima Nova', 'ProximaNova', 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
}

text {
    font-family: 'Proxima Nova', 'ProximaNova', 'Helvetica Neue', Arial, sans-serif;
}

.my-button {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Proxima Nova', 'ProximaNova', 'Helvetica Neue', Arial, sans-serif;
}